# files
*.pyc
*.csv
*.json
*.log
*.0
test.py
test2.py
test3.py
.Python
tree.txt
*.h5
*.dat

# macOS
__pycache__
.DS_Store

# folders
old/
share/
bin/
include/
lib/
pynb/
submissions/
.ipynb_checkpoints/
