# files
*.pyc
*.csv
*.json
*.log
test.py
test2.py
test3.py

# macOS
__pycache__
.DS_Store
prueba306.txt

# folders
old
.bin
.include
.lib
.glove
.pynb
.submissions
.input
.ipynb_checkpoints
share/
bin/
include/
lib/
